body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    font-family: sans-serif;
    background-color:rgb(219, 216, 216);
}

.login-page {
    border-radius: 2px;
    box-shadow: 4px 8px 10px 6px #888888;
    width: 650px;
    text-align: center;
    background-color: white;
}

.main-heading {
    font-size: 3rem;
    color: #333;
}

.form input {
    border: 1px solid #333;
    width: 80%;
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: 10px;
    
}
.form p {
    font-size: 1rem;
    color: red;
    
}
.form a{
    margin-bottom: 10px;
}

::-webkit-input-placeholder{
    color:#333;
}
.form button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 84%;
    border-radius: 4px;
    border:none;
    background-color: rgba(53, 192, 53, 0.932);
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
}
button:hover{
    background-color: rgba(53, 192, 53, 0.932);
    opacity: .9;
    color: #333;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}