body {
  margin: 0;
  font-family: sans-serif;
  background-color:rgb(219, 216, 216);
}
.site-header {
  position: fixed;
  top:0;
  width: 100%;
  
  background-color: #333;
}
.flex-box {
  display: flex;
  justify-content: space-between;
}
.flex-item{
  display: flex;
}
.flex-item a {
  color: lightgray;
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;
}
.flex-item a:hover {
  background-color: rgba(53, 192, 53, 0.932);
  color: #333;
}
.welcome{
  color: lightgrey;
  margin-right: 1rem;
}
.content{
  margin: 5rem auto;
  max-width: 1400px;
  min-height: 80vh;
  background-color: white;
  box-shadow: 4px 8px 10px 6px #888888;
}
.logout-btt{
  background-color: #d91818;
  border:none;
  padding: 0.5rem;
  margin-left: 1.5rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  color: white;
  border-radius: 4px;
  width: 200px;
}
.category-btt{
  background-color: #519406;
  border:none;
  padding: 0.5rem;
  margin-left: 1.5rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  color: white;
  border-radius: 4px;
  width: 200px;
}
.game-btt{
  background-color: #186ec9;
  border:none;
  padding: 0.5rem;
  margin-left: 1.5rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  color: white;
  border-radius: 4px;
  width: 200px;
}
.profile-pic{
  background-color: #333;
  padding: 1rem;
  color: lightgrey;
}
.logout-btt:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.category-btt:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.game-btt:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.content{
  display: flex;

}
.fav-games{
  padding: 1.5rem;
  color: #333;  

}
.fav-games a:hover{
  opacity: 0.6;
}
.fav-header{
  display: flex;
  color: white;
  text-align: center;
  width:66.7em;  
  justify-content: center;
  background-color:#333;
}